<div class="container row">
    <div class="col-lg-4 input-group mb-3">
        <input ngModel name="query" #query="ngModel" type="text" class="form-control" placeholder="Search anything..."
            aria-label="Search word" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="button-addon2"
                (click)="getImages(query.value)">Search</button>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>